body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    @font-face {
        font-family: Trebuchet;
    }
}
nav
{
    height: fit-content;
    width: fit-content;
    color: rgb(30, 255, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    
    border-color: rgb(30, 255, 0) solid;
}
body
{
    background: linear-gradient( slateblue, rgb(255, 79, 109));
    background-blend-mode: color-dodge;
    background-size: cover;
    background-repeat:no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logform{
    display: inline;
    align-items: flex-end;
    text-align: center;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 2%;
    font-style: oblique;
    background-blend-mode: exclusion;
}
.low-opacity-bg-image{
    background-repeat:no-repeat; 
    background-size:contain;
    display:grid;
    opacity: 95%; 
    justify-content:stretch;

    
    
    background-image: url("https://files.cults3d.com/uploaders/27125901/illustration-file/7e364a1b-b45f-4100-b1dd-386e102185cb/ct-ft-1.png");
}
.topnav{
    border-bottom: .127rem solid;
    color: rgb(30, 255, 0);
}

#h1{
    color: rgb(30, 255, 0);
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: 500;
    padding-inline: 7px;
    border: .127rem ridge;
    border-top-right-radius: 1%;
    border-bottom-left-radius: 50% outset;
    border-left: unset;
    border-right: unset;
    margin: 0 auto;
    margin-top: 1%;
    margin-left: center;
    margin-right: center;
    width: fit-content;
    border-radius: 20.5%;
    position: absolute;
    overflow-y: scroll;
    height: 33%;
    font-style: italic;
    border-width: 3px;
    
}

.table th {
    background-color: aqua;
    color:rgb(255, 79, 109);
    text-align: left;
    position: sticky;
    top: 0;
}
.table tbody tr:nth-of-type(even){
    background-color: rgb(28, 28, 29);
}

#passwordy{
    color: rgb(30, 255, 0);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
#passwordyy{
    color: rgb(30, 255, 0);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;  
}
#usernamey{
    color: rgb(30, 255, 0);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
#usernameyy{
    color: rgb(30, 255, 0);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    padding-bottom: 0%;
    padding-top: 0%;
    justify-content: center; 
}

#logbut{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    filter: blur(100%);
    text-align: center;
    position: absolute;
    left: 50%;
    width: fit-content;
}
#makeacc{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 3%;
    position:initial;
    padding-bottom: 5%;
}

h3{
    color: rgb(30, 255, 0);
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: 500;
    padding-inline: 7px;
    border: .127rem ridge;
    border-top-right-radius: 1%;
    border-left: solid;
    border-right: unset;
    border-top: outset;
    border-bottom: unset;
    accent-color: red;
    margin: 0 auto;
    background-color: linear-gradient( rgb(255, 79, 109), rgb(255, 79, 110));
    opacity: 95%;
    margin-left: center;
    margin-right: center;
    width: fit-content;
    border-radius: 15%;
    position: absolute;
    font-style: italic;
    border-width: 4px;
}
#divbottom{
    border-bottom-color: greenyellow;
    border-bottom-width: 50%;
    border-bottom: 2px;
    color: rgb(255, 224, 47);
    opacity: 75%;
}