<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$$ moneybot $$</title>
    <link rel="stylesheet" type="text/css" href="../static/loggedin.css">
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>


<body>

    <nav>
        <div class="logo" style="font-style: italic;">optionsBOT.MONEY</div>
        <div class="logo" style="font-size: 16px; font-size: medium; margin-inline-start: 3%; opacity: 80%; color: rgb(255, 36, 244); filter: contrast(100%); filter: blur(.03rem)">winning is good for your health</div>
        
    </nav>

    <a href="{{url_for('profile')}}" style="padding-left: 95%; align-self: stretch">
    {% if 'username' in session %}
    <tr><td>{{session['username']}}</td></tr>
    {% endif %}
    </a>
    <br>
    <a href="/logout" style="padding-left: 95%;">logout</a>


    <a href="{{url_for('profile')}}">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/555th_Engineer_Brigade.svg/1200px-555th_Engineer_Brigade.svg.png" style="height: 50px; width: 50px; display: inline;">
    </a>
    <br>

    <div class="card">
        <div class="card-wrapper" style="border: rgb(77, 77, 77) 1px groove;width:max-content; align-content: center; margin: 0 auto; border-top-style:unset; 
        color:rgb(44, 44, 44); border-bottom-style:unset; padding: 33px; border-radius: 16%;">
            welcome back, {{current_user.username}}!
        </div>
    </div>

    {% if current_user.is_authenticated %}
        {{session}}
        
    {% endif %}

    <div class="topnav"></div>
        
        <h2>
            <div class = 'shadow p-3 mb-5 bg-body rounded'></div>
            <div class="col-sm-3" id="h1" style="font-size: 24px;"> user irc
            
            </div>
        
            <div class="col-sm-6"  style="font-size: 24px;"> user irc </div>
            <div class="col-sm-3"  style="font-size: 24px;"></div> <div class = 'shadow p-3 mb-5 bg-body rounded'></div>
            <form method="POST" style="border: rgb(77, 77, 77) 1px groove;width:fit-content; align-content: center; margin: 0 auto; border-top-style:unset; 
            color:rgb(44, 44, 44); border-bottom-style:unset; padding: 33px; border-radius: 12%; grid:10%">
                {{form.hidden_tag()}}
                
                {{form.username.label(class='form-label')}}
                {{ form.username(class='form') }}
                <br>
                
                {{ form.content.label(class='form-label')}}
                {{form.content(class='form')}}
                <br>
                {{form.slug.label(class="form-label")}}
                {{form.slug(class="form-control")}}
                
                <br>
                <input type="submit" value="save" style="margin-left: 50%;">
            </form>
        </div> </div>
                
            </div>
        </h2>
    </div>

    <div id="divbottom" style="border: .1rem outset;"></div><br>
    <h3 style="color: rgb(255, 212, 69); font-family: Verdana, Geneva, Tahoma, sans-serif; font-style: italic; font-size: 35pt;">Leaderboards</h3>
        
</body>

</html>