<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>bluewater</title>
    <link rel="stylesheet" type="text/css" href="../static/loggedin.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>
<body style="margin-bottom: 256px;">

    <nav style="border-right-style: unset;">
        <div class="logo" style="font-style: italic; padding-right: 1rem; padding-left: .3rem; font-size: xx-large; color:#0080FF">bluewater.ai</div>
        <div class="logo" style="font-size: 16px; padding-top:5px; font-size: medium; margin-inline-start: 3%; opacity: 80%; color: rgb(77,77,77); filter: contrast(100%); filter: blur(.03rem)">ai advised trading station</div>
        
    </nav>
    <div style="text-align: end; margin-right: 1rem;">
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
        </tr>
    
    {% endfor %}
    {{username}}
    {% if 'username' in session %}
    <tr><td>{{session['username']}}</td></tr>
    {% endif %}
    <a href="{{url_for('logout')}}" style="padding-left: 95%;">logout</a>
    
    </div>

    

    <div class="topnav"></div>



        <h1 id="h1" style="font-size: xx-large; text-align: center; color:#0080fff1">Login</h1>

        <h2>
            
            <div class = 'shadow p-3 mb-5 bg-body rounded'>
                <form method="POST" id="homeForm" action="{{url_for('hmpg')}}" align="low-opacity-bg-image" style="border: #0080FF .33rem solid;width:fit-content; align-content: center; margin: 0 auto; 
                color:rgb(44, 44, 44); padding: 33px; border-radius: 1rem; grid:10%">
                    {{ form.csrf_token }}
                    {{form.hidden_tag()}}
                    {{form.username.label(class='form-label')}}
                    {{ form.username(class='form') }}
                    <br>
                    {{ form.csrf_token }}
                    {{ form.password.label(class='form-label')}}
                    {{ form.password(class='form') }}
                    <br>
                    <input type="submit" value="Login" style="margin-left: 50%; font-size: smaller; background-color: rgb(77,77,77); border: 0px; border-radius: .33rem;">
                </form>
            </div>
            
        </h2>
        <div class="col-md-12" style="text-align: center;">
        <a id="makeacc" action="{{url_for('register')}}" href="register" style="text-align: center; width: 100%; align-content: center;">Need to make an account?</a><br><br>
    </div>
    </div>
    <h3>

    </h3>
      
</body>

</html>