<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$$ moneybot $$</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <nav>
        <div class="logo">moneybot.cc</div>
    </nav>
    <div class="topnav"></div>

    <h1 id="h1">Register</h1>

    <!--
    <p id="usernamey">Enter your username </p>
    <p id="usernameyy" style="text-indent: 0em;"><input type="text" name="username" required="required" /> </p>
    <p id="passwordy">Create a password </p>
    <p id="passwordyy" style="text-indent: 0em;"><input type="password" name="password" required="required" /> </p>
    -->
    <button id="logbut" type="submit" name="login" value="true">sign in</button>

</body>

</html>