<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>$$ moneybot $$</title>
</head>
<body id="b2">
    <nav>
        <div class="logo">moneybot.cc</div>
    </nav>
    <div class="topnav"></div>

    <h1 id="h1">Register</h1>

    <!--<p id="usernamey">Username </p>
    <p action="/submitid="usernameyy" style="text-indent: 0em;"><input type="text" name="username" required="required" /> </p>
    <p id="passwordy">Password </p>
    <p id="passwordyy" style="text-indent: 0em;"><input type="password" name="password" required="required" /> </p>
    -->


</body>

</html>